/*
	Media Query mixin
	See https://github.com/sass-mq/sass-mq/ for original full version.
	@example scss
	 .element {
	   @include mq($from: mobile) {
		 color: red;
	   }
	   @include mq($to: tablet) {
		 color: blue;
	   }
	   @include mq(mobile, tablet) {
		 color: green;
	   }
	   @include mq($from: tablet, $and: '(orientation: landscape)') {
		 color: teal;
	   }
	   @include mq(em(950px)) {
		 color: hotpink;
	   }
	   @include mq(em(950px), $media-feature: height) {
		 color: hotpink;
	   }
	   @include mq(tablet, $media-type: screen) {
		 color: hotpink;
	   }
	   // Advanced use:
	   $custom-breakpoints: (L: 900px, XL: 1200px);
	   @include mq(L, $bp: $custom-breakpoints) {
		 color: hotpink;
	   }
	 }
*/
/*
	Margin / Padding Quick Resets
	example: top & bottom margin set to $spacing-unit
	.element {
		@include push--ends;
	}
	example: left & right padding set to $spacing-unit--small
	.element {
		@include soft--sides($spacing-unit--small);
	}
*/
/*
	Helper mixins
*/
/*
	Form input placeholder text
	example:
	input,
	textarea {
		@include input-placeholder {
			color: $grey;
		}
	}
*/
/*
	Retina images
	example:
	.element {
		@include retina {
			background-image: url(../img/background@2x.png);
		}
	}
*/
/*
	Content margins
	fore removing first/last child margins
	example: default
	.element {
		@include content-margins;
	}
	output:
	.element > *:first-child {
		margin-top: 0;
	}
	.element > *:last-child {
		margin-bottom: 0;
	}
	example: empty selector
	.element {
		@include content-margins('false');
	}
	output:
	.element:first-child {
		margin-top: 0;
	}
	.element:last-child {
		margin-bottom: 0;
	}
*/
/*
	CSS Triangle
	used for creating CSS only triangles
	example:
	.element {
		&::before {
			@include css-triangle(blue, down);
		}
	}
*/
/*
	Hide text
	example:
	.element {
		@include hide-text;
	}
*/
/*
	Responsive ratio
	Used for creating scalable elements that maintain the same ratio
	example:
	.element {
		@include responsive-ratio(400, 300);
	}
*/
/*
	Typography
	Text image replacement, with responsive ratio
	HTML:
	<h1 class="element">
		<span>Text to replace</span>
	</h1>
	example:
	.element {
		@include typography(200, 50, 'hello-world');
	}
*/
/*
	Icon
	For using fontastic icons in pseudo elements
*/
/*
	Colours
	background, colour, etc. match up with colour map in _variables.scss
	modify to suit per project
*/
/*
	Fluid Property
	http://www.adrenalinmedia.com.au/the-agency/insights/this-changes-everything-css-fluid-properties.aspx
	HTML:
	<h1 class="element">
		<span>Text to replace</span>
	</h1>
	example:
	h1 {
		@include fp(font-size, 50, 100); // 50px at 320, 100px at 1920;
	}
	output:
	h1 {
		font-size: calc(3.125vw + 40px); //This is the magic!
	}
	@media (max-width:320px){ //Clips the start to the min value
		font-size:50px;
	}
	@media (min-width:1920px){ //Clips the end to the max value
		font-size:100px;
	}
*/
/*
	Misc
*/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0; }

.row, .research-blocks, footer .footer-rows, footer .footer-rows .right-column {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0; }

.X1, .S1, .M1, .L1, .XL1, .X2, .S2, .M2, .L2, .XL2, .X3, .S3, .M3, .L3, .XL3, .X4, .S4, .M4, footer .footer-rows .left-column, footer .footer-rows .right-column > div, .L4, .XL4, .X5, .S5, .M5, .research-blocks .reasarch-right-block, .L5, .XL5, .X6, .S6, .M6, .how-can-we-help-section .left, .how-can-we-help-section .right, .explore-one-400 .left, .explore-one-400 .right, .L6, .XL6, .X7, .S7, .M7, .research-blocks .reasarch-left-block, .L7, .XL7, .X8, .S8, .M8, footer .footer-rows .right-column, .L8, .XL8, .X9, .S9, .M9, .L9, .XL9, .X10, .S10, .M10, .L10, .XL10, .X11, .S11, .M11, .L11, .XL11, .X12, .S12, .M12, .L12, .XL12 {
  flex: 0 0 100%;
  max-width: 100%;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0; }

.X1 {
  flex-basis: 8.33333%;
  max-width: 8.33333%; }

.X2 {
  flex-basis: 16.66667%;
  max-width: 16.66667%; }

.X3 {
  flex-basis: 25%;
  max-width: 25%; }

.X4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%; }

.X5 {
  flex-basis: 41.66667%;
  max-width: 41.66667%; }

.X6 {
  flex-basis: 50%;
  max-width: 50%; }

.X7 {
  flex-basis: 58.33333%;
  max-width: 58.33333%; }

.X8 {
  flex-basis: 66.66667%;
  max-width: 66.66667%; }

.X9 {
  flex-basis: 75%;
  max-width: 75%; }

.X10 {
  flex-basis: 83.33333%;
  max-width: 83.33333%; }

.X11 {
  flex-basis: 91.66667%;
  max-width: 91.66667%; }

.X12 {
  flex-basis: 100%;
  max-width: 100%; }

.X--offset0 {
  margin-left: 0%; }

.X--offset1 {
  margin-left: 8.33333%; }

.X--offset2 {
  margin-left: 16.66667%; }

.X--offset3 {
  margin-left: 25%; }

.X--offset4 {
  margin-left: 33.33333%; }

.X--offset5 {
  margin-left: 41.66667%; }

.X--offset6 {
  margin-left: 50%; }

.X--offset7 {
  margin-left: 58.33333%; }

.X--offset8 {
  margin-left: 66.66667%; }

.X--offset9 {
  margin-left: 75%; }

.X--offset10 {
  margin-left: 83.33333%; }

.X--offset11 {
  margin-left: 91.66667%; }

.X--offset12 {
  margin-left: 100%; }

.X--order0 {
  order: 0; }

.X--order1 {
  order: 1; }

.X--order2 {
  order: 2; }

.X--order3 {
  order: 3; }

.X--order4 {
  order: 4; }

.X--order5 {
  order: 5; }

.X--order6 {
  order: 6; }

.X--order7 {
  order: 7; }

.X--order8 {
  order: 8; }

.X--order9 {
  order: 9; }

.X--order10 {
  order: 10; }

.X--order11 {
  order: 11; }

.X--order12 {
  order: 12; }

.X--start {
  justify-content: flex-start; }

.X--center {
  justify-content: center; }

.X--end {
  justify-content: flex-end; }

.X--top {
  align-items: flex-start; }

.X--middle {
  align-items: center; }

.X--bottom {
  align-items: flex-end; }

.X--stretch {
  align-items: stretch; }

.X--reverse {
  flex-direction: row-reverse; }

.X--around {
  justify-content: space-around; }

.X--between {
  justify-content: space-between; }

@media (min-width: 481px) {
  .S1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .S2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .S3 {
    flex-basis: 25%;
    max-width: 25%; }
  .S4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .S5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .S6 {
    flex-basis: 50%;
    max-width: 50%; }
  .S7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .S8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .S9 {
    flex-basis: 75%;
    max-width: 75%; }
  .S10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .S11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .S12 {
    flex-basis: 100%;
    max-width: 100%; }
  .S--offset0 {
    margin-left: 0%; }
  .S--offset1 {
    margin-left: 8.33333%; }
  .S--offset2 {
    margin-left: 16.66667%; }
  .S--offset3 {
    margin-left: 25%; }
  .S--offset4 {
    margin-left: 33.33333%; }
  .S--offset5 {
    margin-left: 41.66667%; }
  .S--offset6 {
    margin-left: 50%; }
  .S--offset7 {
    margin-left: 58.33333%; }
  .S--offset8 {
    margin-left: 66.66667%; }
  .S--offset9 {
    margin-left: 75%; }
  .S--offset10 {
    margin-left: 83.33333%; }
  .S--offset11 {
    margin-left: 91.66667%; }
  .S--offset12 {
    margin-left: 100%; }
  .S--order0 {
    order: 0; }
  .S--order1 {
    order: 1; }
  .S--order2 {
    order: 2; }
  .S--order3 {
    order: 3; }
  .S--order4 {
    order: 4; }
  .S--order5 {
    order: 5; }
  .S--order6 {
    order: 6; }
  .S--order7 {
    order: 7; }
  .S--order8 {
    order: 8; }
  .S--order9 {
    order: 9; }
  .S--order10 {
    order: 10; }
  .S--order11 {
    order: 11; }
  .S--order12 {
    order: 12; }
  .S--start {
    justify-content: flex-start; }
  .S--center {
    justify-content: center; }
  .S--end {
    justify-content: flex-end; }
  .S--top {
    align-items: flex-start; }
  .S--middle {
    align-items: center; }
  .S--bottom {
    align-items: flex-end; }
  .S--stretch {
    align-items: stretch; }
  .S--reverse {
    flex-direction: row-reverse; }
  .S--around {
    justify-content: space-around; }
  .S--between {
    justify-content: space-between; } }

@media (min-width: 769px) {
  .M1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .M2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .M3 {
    flex-basis: 25%;
    max-width: 25%; }
  .M4, footer .footer-rows .left-column, footer .footer-rows .right-column > div {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .M5, .research-blocks .reasarch-right-block {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .M6, .how-can-we-help-section .left, .how-can-we-help-section .right, .explore-one-400 .left, .explore-one-400 .right {
    flex-basis: 50%;
    max-width: 50%; }
  .M7, .research-blocks .reasarch-left-block {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .M8, footer .footer-rows .right-column {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .M9 {
    flex-basis: 75%;
    max-width: 75%; }
  .M10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .M11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .M12 {
    flex-basis: 100%;
    max-width: 100%; }
  .M--offset0 {
    margin-left: 0%; }
  .M--offset1 {
    margin-left: 8.33333%; }
  .M--offset2 {
    margin-left: 16.66667%; }
  .M--offset3 {
    margin-left: 25%; }
  .M--offset4 {
    margin-left: 33.33333%; }
  .M--offset5 {
    margin-left: 41.66667%; }
  .M--offset6 {
    margin-left: 50%; }
  .M--offset7 {
    margin-left: 58.33333%; }
  .M--offset8 {
    margin-left: 66.66667%; }
  .M--offset9 {
    margin-left: 75%; }
  .M--offset10 {
    margin-left: 83.33333%; }
  .M--offset11 {
    margin-left: 91.66667%; }
  .M--offset12 {
    margin-left: 100%; }
  .M--order0 {
    order: 0; }
  .M--order1 {
    order: 1; }
  .M--order2 {
    order: 2; }
  .M--order3 {
    order: 3; }
  .M--order4 {
    order: 4; }
  .M--order5 {
    order: 5; }
  .M--order6 {
    order: 6; }
  .M--order7 {
    order: 7; }
  .M--order8 {
    order: 8; }
  .M--order9 {
    order: 9; }
  .M--order10 {
    order: 10; }
  .M--order11 {
    order: 11; }
  .M--order12 {
    order: 12; }
  .M--start {
    justify-content: flex-start; }
  .M--center {
    justify-content: center; }
  .M--end {
    justify-content: flex-end; }
  .M--top {
    align-items: flex-start; }
  .M--middle {
    align-items: center; }
  .M--bottom {
    align-items: flex-end; }
  .M--stretch {
    align-items: stretch; }
  .M--reverse {
    flex-direction: row-reverse; }
  .M--around {
    justify-content: space-around; }
  .M--between {
    justify-content: space-between; } }

@media (min-width: 1025px) {
  .L1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .L2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .L3 {
    flex-basis: 25%;
    max-width: 25%; }
  .L4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .L5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .L6 {
    flex-basis: 50%;
    max-width: 50%; }
  .L7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .L8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .L9 {
    flex-basis: 75%;
    max-width: 75%; }
  .L10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .L11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .L12 {
    flex-basis: 100%;
    max-width: 100%; }
  .L--offset0 {
    margin-left: 0%; }
  .L--offset1 {
    margin-left: 8.33333%; }
  .L--offset2 {
    margin-left: 16.66667%; }
  .L--offset3 {
    margin-left: 25%; }
  .L--offset4 {
    margin-left: 33.33333%; }
  .L--offset5 {
    margin-left: 41.66667%; }
  .L--offset6 {
    margin-left: 50%; }
  .L--offset7 {
    margin-left: 58.33333%; }
  .L--offset8 {
    margin-left: 66.66667%; }
  .L--offset9 {
    margin-left: 75%; }
  .L--offset10 {
    margin-left: 83.33333%; }
  .L--offset11 {
    margin-left: 91.66667%; }
  .L--offset12 {
    margin-left: 100%; }
  .L--order0 {
    order: 0; }
  .L--order1 {
    order: 1; }
  .L--order2 {
    order: 2; }
  .L--order3 {
    order: 3; }
  .L--order4 {
    order: 4; }
  .L--order5 {
    order: 5; }
  .L--order6 {
    order: 6; }
  .L--order7 {
    order: 7; }
  .L--order8 {
    order: 8; }
  .L--order9 {
    order: 9; }
  .L--order10 {
    order: 10; }
  .L--order11 {
    order: 11; }
  .L--order12 {
    order: 12; }
  .L--start {
    justify-content: flex-start; }
  .L--center {
    justify-content: center; }
  .L--end {
    justify-content: flex-end; }
  .L--top {
    align-items: flex-start; }
  .L--middle {
    align-items: center; }
  .L--bottom {
    align-items: flex-end; }
  .L--stretch {
    align-items: stretch; }
  .L--reverse {
    flex-direction: row-reverse; }
  .L--around {
    justify-content: space-around; }
  .L--between {
    justify-content: space-between; } }

@media (min-width: 1441px) {
  .XL1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .XL2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .XL3 {
    flex-basis: 25%;
    max-width: 25%; }
  .XL4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .XL5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .XL6 {
    flex-basis: 50%;
    max-width: 50%; }
  .XL7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .XL8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .XL9 {
    flex-basis: 75%;
    max-width: 75%; }
  .XL10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .XL11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .XL12 {
    flex-basis: 100%;
    max-width: 100%; }
  .XL--offset0 {
    margin-left: 0%; }
  .XL--offset1 {
    margin-left: 8.33333%; }
  .XL--offset2 {
    margin-left: 16.66667%; }
  .XL--offset3 {
    margin-left: 25%; }
  .XL--offset4 {
    margin-left: 33.33333%; }
  .XL--offset5 {
    margin-left: 41.66667%; }
  .XL--offset6 {
    margin-left: 50%; }
  .XL--offset7 {
    margin-left: 58.33333%; }
  .XL--offset8 {
    margin-left: 66.66667%; }
  .XL--offset9 {
    margin-left: 75%; }
  .XL--offset10 {
    margin-left: 83.33333%; }
  .XL--offset11 {
    margin-left: 91.66667%; }
  .XL--offset12 {
    margin-left: 100%; }
  .XL--order0 {
    order: 0; }
  .XL--order1 {
    order: 1; }
  .XL--order2 {
    order: 2; }
  .XL--order3 {
    order: 3; }
  .XL--order4 {
    order: 4; }
  .XL--order5 {
    order: 5; }
  .XL--order6 {
    order: 6; }
  .XL--order7 {
    order: 7; }
  .XL--order8 {
    order: 8; }
  .XL--order9 {
    order: 9; }
  .XL--order10 {
    order: 10; }
  .XL--order11 {
    order: 11; }
  .XL--order12 {
    order: 12; }
  .XL--start {
    justify-content: flex-start; }
  .XL--center {
    justify-content: center; }
  .XL--end {
    justify-content: flex-end; }
  .XL--top {
    align-items: flex-start; }
  .XL--middle {
    align-items: center; }
  .XL--bottom {
    align-items: flex-end; }
  .XL--stretch {
    align-items: stretch; }
  .XL--reverse {
    flex-direction: row-reverse; }
  .XL--around {
    justify-content: space-around; }
  .XL--between {
    justify-content: space-between; } }

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 20px 30px;
  min-width: 200px;
  font-family: canada-type-gibson, sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: #fff; }
  .btn:hover, .btn:focus {
    text-decoration: none; }
  .btn:active, .btn.active {
    outline: 0;
    background-image: none; }
  .btn.disabled, .btn[disabled],
  fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    box-shadow: none; }

.btn-block {
  display: block;
  width: 100%; }

a.link {
  font-size: 15px;
  font-family: canada-type-gibson, sans-serif;
  cursor: pointer;
  text-decoration: none !important; }
  a.link i {
    margin-left: 10px;
    color: #1ca8ff;
    transition: .5s; }
  a.link:hover i {
    margin-left: 20px; }

.btn-block + .btn-block {
  margin-top: 5px; }

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%; }

.btn-primary {
  background-color: #1ca8ff;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out; }
  .btn-primary:hover {
    background-color: #0b3354; }

.btn-secondary {
  border: 1px solid;
  color: #000000;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out; }
  .btn-secondary:hover {
    color: #FFFFFF;
    background-color: #dcdcdc; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: freight-text-pro, serif; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

p,
article,
table,
span {
  font-size: 15px;
  line-height: 24px;
  font-family: canada-type-gibson, sans-serif;
  font-weight: 300;
  font-style: normal; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: freight-text-pro, serif; }

h1, .h1 {
  font-size: 42px; }

h2, .h2 {
  font-size: 36px; }

h3, .h3 {
  font-size: 30px; }

h4, .h4, .block.home-top-content .content h2 {
  font-size: 24px; }

h5, .h5, .research-blocks h5 {
  font-size: 16px; }

h6, .h6 {
  font-size: 12px; }

.container {
  width: 100%;
  /* max-width: 1185px; */
  /* padding: 0 15px; */
  margin: 0 auto;
  padding: 0 15em !important; }
  @media screen and (max-width: 1440px) {
    .container {
      /*  max-width: 1024px; */
      padding: 0 5em !important; } }
  @media screen and (max-width: 1280px) {
    .container {
      /* max-width: 960px; */ } }
  @media screen and (max-width: 1024px) {
    .container {
      /*  max-width: 768px; */ } }
  @media screen and (max-width: 768px) {
    .container {
      padding: 0 20px !important; } }

.pd-l {
  padding-left: 15em !important; }
  @media screen and (max-width: 1440px) {
    .pd-l {
      padding-left: 5em !important; } }
  @media screen and (max-width: 768px) {
    .pd-l {
      padding-left: 20px !important; } }

.pd-l {
  padding-right: 15em !important; }
  @media screen and (max-width: 1440px) {
    .pd-l {
      padding-right: 5em !important; } }
  @media screen and (max-width: 768px) {
    .pd-l {
      padding-right: 20px !important; } }

.pd-l-tab {
  padding-left: 9em !important; }
  @media screen and (max-width: 1440px) {
    .pd-l-tab {
      padding-left: 1.4em !important; } }
  @media screen and (max-width: 768px) {
    .pd-l-tab {
      padding-left: 20px !important; } }

.pd-r-tab {
  padding-right: 9em !important; }
  @media screen and (max-width: 1440px) {
    .pd-r-tab {
      padding-right: 1.4em !important; } }
  @media screen and (max-width: 768px) {
    .pd-r-tab {
      padding-right: 20px !important; } }

img {
  width: 100%; }

* {
  box-sizing: border-box; }

.title {
  font-size: 60px; }
  @media (max-width: 769px) {
    .title {
      font-size: 40px; } }

.d-block {
  display: block !important; }

.mobile-only {
  display: none;
  visibility: hidden; }
  @media screen and (max-width: 768px) {
    .mobile-only {
      display: block  !important;
      visibility: visible  !important; } }

.desktop-only, .become-a-click-block {
  display: block;
  visibility: visible; }
  @media screen and (max-width: 768px) {
    .desktop-only, .become-a-click-block {
      display: none  !important;
      visibility: hidden  !important; } }

/* ==========================
   MENU FULLPAGE CSS
========================== */
.panel {
  position: fixed;
  right: -100%;
  /*left or right and the width of your navigation panel*/
  width: 100%;
  /*should match the above value*/ }

.panel-logo {
  margin-left: 5%;
  margin-top: 30px;
  color: #0567A3;
  font-size: 30px;
  position: absolute;
  z-index: 1010;
  font-family: Gibson; }
  .panel-logo img {
    width: 122px; }

.menu-link i {
  text-decoration: none;
  font-size: 40px;
  color: #000000; }

#menu {
  background: white;
  z-index: 100; }

#menu ul {
  margin-top: 150px; }
  @media (max-width: 1025px) {
    #menu ul {
      margin-top: 100px; } }

.menu-gap {
  padding-left: 20%; }

#menu li {
  transition: all 0.4s ease;
  padding: 0 0 20px;
  list-style: none; }

#menu li a {
  color: #000000;
  font-size: 4rem;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px 0; }
  @media (max-width: 1441px) {
    #menu li a {
      font-size: 2.8rem; } }

#menu li:hover a {
  color: #1CA8FF; }

.menu-link {
  z-index: 1001;
  display: block;
  position: fixed;
  top: 0;
  right: 72px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 80px;
  height: 80px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  background-color: transparent; }
  @media (max-width: 769px) {
    .menu-link {
      right: 2%; } }

.menu-link:focus {
  outline: none; }

.menu-link span {
  display: block;
  position: absolute;
  top: 45px;
  left: 18px;
  right: 18px;
  height: 4px;
  border-radius: 2px;
  background: white;
  -webkit-transition: background 0 0.3s;
  transition: background 0 0.3s; }

.menu-link span::before,
.menu-link span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  content: "";
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
  transition-delay: 0.3s, 0; }

.menu-link span::before {
  top: -11px;
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform; }

.menu-link span::after {
  bottom: -11px;
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform; }

/* active state, i.e. menu open */
.menu-open {
  background-color: transparent; }

.menu-open span {
  background: none; }

.menu-open span::before {
  top: 0;
  background-color: #000;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.menu-open span::after {
  bottom: 0;
  background-color: #000;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.menu-open span::before,
.menu-open span::after {
  -webkit-transition-delay: 0, 0.3s;
  transition-delay: 0, 0.3s; }

/* Style the menu tab */
.menu-container {
  display: flex; }
  .menu-container .menu-items {
    flex: 5; }
  .menu-container .menu-item-info {
    flex: 6;
    margin-top: 150px; }

/* Style the tab content */
.tabcontent {
  padding: 20px 0;
  display: none;
  transition: all .8s; }
  .tabcontent .info-content {
    display: inline-block;
    float: left;
    border-left: 2px solid #000;
    padding-left: 2rem;
    padding-right: 3rem; }
    .tabcontent .info-content h3 {
      font-size: 50px;
      font-weight: 500; }
    .tabcontent .info-content ul {
      margin-top: 2rem !important;
      padding: 0;
      margin: 0; }
      .tabcontent .info-content ul li {
        text-align: left !important;
        font-size: 30px; }
    @media (max-width: 1441px) {
      .tabcontent .info-content h3 {
        font-size: 2rem; }
      .tabcontent .info-content ul li {
        font-size: 1rem; } }
    @media (max-width: 1025px) {
      .tabcontent .info-content {
        display: none; } }

.logo {
  display: inline-block;
  flex: 8 !important;
  transition: all 1s; }
  .logo a {
    position: fixed;
    top: 30px;
    z-index: 5; }
    .logo a img {
      width: 122px; }

.main-navbar {
  width: 100%;
  z-index: 2; }
  .main-navbar .nav-container {
    max-width: 100%;
    margin-left: 5%;
    margin-right: 90px;
    display: flex; }
    .main-navbar .nav-container > div {
      flex: 1; }

.search-area {
  display: flex;
  justify-content: flex-end;
  z-index: 5; }

.search-button {
  position: fixed;
  top: 30px; }
  .search-button i {
    font-size: 32px;
    color: #fff; }

/* Style the collapsible content. Note: hidden by default */
.search-input {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: white;
  top: 85px; }

header {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  min-height: 50px; }
  header .logo a {
    color: #FFFFFF;
    text-decoration: none; }

.block.home-top-content {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0; }
  @media screen and (max-width: 768px) {
    .block.home-top-content {
      text-align: left;
      width: 100%;
      /* @include soft--ends(20%); */
      /* @include soft--sides(30px); */ } }
  .block.home-top-content .content h2 {
    margin: 15px 0; }
  .block.home-top-content .content article {
    width: 70%;
    margin: auto;
    color: #424242; }
    @media screen and (max-width: 768px) {
      .block.home-top-content .content article {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px; } }
  .block.home-top-content .content .right-content {
    position: absolute;
    right: 0;
    width: 25%;
    top: 0; }

.video-fullpage {
  height: 100vh;
  width: 100%;
  z-index: 0;
  position: relative;
  top: 0; }
  .video-fullpage .video-player {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%; }

.header-content {
  position: relative;
  height: calc(100% - 50%); }
  .header-content h3.title {
    width: 55%;
    min-width: 662px;
    line-height: 72px;
    margin-bottom: 20px; }
    @media (max-width: 769px) {
      .header-content h3.title {
        min-width: auto;
        width: 100%;
        line-height: 50px; } }
  .header-content a.link {
    color: #FFFFFF;
    margin: 5% 0;
    display: block; }
  .header-content h5 {
    font-size: 18px;
    font-weight: 400;
    font-family: canada-type-gibson, sans-serif; }

.service-rollovers {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: 0;
  width: 100%;
  display: flex;
  flex-direction: row; }
  @media (max-width: 769px) {
    .service-rollovers {
      flex-direction: column;
      position: relative;
      float: left; } }
  .service-rollovers .tab {
    height: 20vh;
    position: relative;
    flex: 1;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.2);
    overflow: hidden;
    cursor: pointer;
    font-size: 21px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; }
    @media (max-width: 769px) {
      .service-rollovers .tab {
        margin-right: 0;
        margin-top: 10px;
        flex: none; } }
    .service-rollovers .tab:last-child {
      margin-right: 0px; }
    @media (min-width: 1441px) {
      .service-rollovers .tab:first-child .inner {
        padding-left: 6em; } }
    @media (min-width: 1441px) {
      .service-rollovers .tab:first-child .inner .link {
        left: 125px; } }
    .service-rollovers .tab span {
      font-size: 18px; }
      @media (max-width: 1441px) {
        .service-rollovers .tab span {
          font-size: 15px; } }
    .service-rollovers .tab .link i {
      color: #FFFFFF; }
    .service-rollovers .tab:hover {
      background-color: #00000061; }
      .service-rollovers .tab:hover .inner {
        bottom: 0%; }
    .service-rollovers .tab .inner {
      background: #0567a3;
      bottom: -100%;
      color: #fff;
      height: 100%;
      left: 0%;
      position: absolute;
      transition: bottom 0.5s ease;
      width: 100%;
      padding-top: 2em;
      padding-bottom: 2em;
      padding-left: 3em;
      padding-right: 3em;
      flex-direction: row;
      box-sizing: border-box;
      text-align: left;
      font-family: canada-type-gibson, sans-serif; }
      @media (max-width: 1441px) {
        .service-rollovers .tab .inner {
          padding-top: 15px;
          padding-bottom: 15px;
          padding-left: 2em;
          padding-right: 2em;
          line-height: 1.3; } }
      .service-rollovers .tab .inner a {
        position: absolute;
        bottom: 18px;
        left: 65px;
        color: #fff;
        text-decoration: none;
        font-family: canada-type-gibson, sans-serif; }
        @media (max-width: 1441px) {
          .service-rollovers .tab .inner a {
            bottom: 15px;
            left: 43px;
            line-height: 1; } }
        .service-rollovers .tab .inner a i {
          font-size: 14px;
          margin-left: 12px; }
        .service-rollovers .tab .inner a:hover {
          text-decoration: underline; }

.header-slider {
  position: absolute;
  top: 0;
  color: #FFFFFF;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(2, 2, 2, 0.5); }
  .header-slider .fp-controlArrow, .header-slider .fp-slidesNav {
    display: none; }
  .header-slider .slide .content {
    position: relative;
    height: 58vh;
    /* @media (max-width: $screen--L) {
          padding: 5%;
        }  */ }
    @media (max-width: 769px) {
      .header-slider .slide .content {
        /* display: none; */ } }
    .header-slider .slide .content .right-content {
      font-family: canada-type-gibson, sans-serif;
      position: absolute;
      width: 20%;
      right: 15px;
      top: 5%;
      border-left: 2px solid;
      padding-left: 30px;
      line-height: 24px;
      font-weight: lighter;
      min-width: 290px; }
      @media (max-width: 1025px) {
        .header-slider .slide .content .right-content {
          display: none; } }
      .header-slider .slide .content .right-content a.link {
        margin: 5% 0;
        color: #1ca8ff;
        text-transform: uppercase;
        border-bottom: 1px solid;
        display: inline-block; }
  .header-slider .slide .tab-navigation {
    display: none;
    opacity: 0;
    transition: 1s;
    transition-delay: 1s; }
  .header-slider .slide.active .tab-navigation {
    display: block;
    opacity: 1;
    transition: 1s;
    transition-delay: 1s; }

.tab-navigation ul {
  padding: 0;
  margin-bottom: 24px; }
  .tab-navigation ul li {
    cursor: pointer;
    padding: 0;
    list-style: none;
    height: 2px;
    background-color: #dcdcdc;
    margin: 0 5px 0 0;
    width: 77px;
    display: inline-block;
    position: relative; }
    @media screen and (max-width: 768px) {
      .tab-navigation ul li {
        width: 60px; } }
    .tab-navigation ul li.active {
      background-color: #1ca8ff; }
      .tab-navigation ul li.active span {
        display: block; }
    .tab-navigation ul li span {
      position: absolute;
      bottom: 0;
      color: #4493f7;
      font-size: 12px;
      font-weight: 700;
      display: none;
      width: 200%;
      margin-bottom: 10px; }

.case-study-section {
  background-color: #FFFFFF; }
  .case-study-section .slide {
    background-size: cover !important;
    background-position: center !important; }
  .case-study-section .inner-content {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
    .case-study-section .inner-content .container {
      display: flex;
      align-items: center;
      height: 100%; }
      @media screen and (max-width: 768px) {
        .case-study-section .inner-content .container {
          padding-left: 40px;
          padding-right: 40px; } }
    .case-study-section .inner-content .content {
      /* margin-top: 25%; */
      display: inline-block;
      width: 50%;
      color: #fff; }
      @media screen and (max-width: 768px) {
        .case-study-section .inner-content .content {
          width: 100%;
          /* margin-top: 35%; */
          padding-left: 20px;
          padding-right: 20px; } }
      .case-study-section .inner-content .content h1 {
        font-size: 42px;
        line-height: 42px; }
        @media screen and (max-width: 768px) {
          .case-study-section .inner-content .content h1 {
            font-size: 40px;
            line-height: 40px; } }
      .case-study-section .inner-content .content small {
        font-size: 21px;
        margin-bottom: 5%;
        display: block; }
      .case-study-section .inner-content .content a.btn {
        margin-top: 5%;
        margin-bottom: 5%; }
      .case-study-section .inner-content .content a.link {
        color: #fff; }
      .case-study-section .inner-content .content span {
        display: block; }

.title-block {
  text-align: center;
  padding-top: 4em;
  padding-bottom: 4em; }
  .title-block h2 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-family: canada-type-gibson, sans-serif; }

.featured-image {
  position: absolute;
  bottom: -2px;
  max-width: 400px;
  right: 22%;
  z-index: 1;
  margin: 0;
  height: 447px;
  overflow: hidden; }
  @media screen and (min-width: 1440px) {
    .featured-image {
      max-width: 500px;
      height: 547px; } }
  @media (max-width: 1025px) {
    .featured-image {
      display: none; } }

.how-can-we-help-section {
  padding-top: 5em;
  padding-bottom: 5em;
  background-color: #0b3354;
  color: #FFFFFF; }
  .how-can-we-help-section .btn {
    margin-top: 10%; }
    @media screen and (max-width: 768px) {
      .how-can-we-help-section .btn {
        width: 100%; } }
  @media screen and (max-width: 768px) {
    .how-can-we-help-section {
      width: 100%;
      /* @include soft--sides(30px); */ } }
  .how-can-we-help-section .left h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: canada-type-gibson, sans-serif;
    font-size: 21px;
    font-weight: 200;
    line-height: 36px; }
    @media screen and (max-width: 768px) {
      .how-can-we-help-section .left h6 {
        margin-top: 2em;
        margin-bottom: 2em; } }
  .how-can-we-help-section .left h2 {
    margin-top: 5px;
    margin-bottom: 5px; }
  .how-can-we-help-section .right {
    text-align: center; }

.explore-one-400 .left .image {
  display: block; }
  .explore-one-400 .left .image img {
    vertical-align: middle; }

.explore-one-400 h6 {
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: canada-type-gibson, sans-serif;
  font-size: 21px;
  font-weight: 200;
  line-height: 36px; }

.explore-one-400 h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 36px; }

.explore-one-400 .right {
  background-color: #f8f8f8;
  padding-top: 7.5%;
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box; }
  .explore-one-400 .right a.link {
    display: block;
    margin: 5% 0;
    font-size: 16px;
    font-weight: 500;
    font-family: canada-type-gibson, sans-serif; }

.case-study-section, .research-section {
  background-color: #FFFFFF; }

.research-blocks {
  background-color: #f8f8f8; }
  .research-blocks h2 {
    font-size: 42px;
    padding-top: 5%;
    padding-bottom: 5%;
    line-height: 1em; }
  .research-blocks h5 {
    font-family: canada-type-gibson, sans-serif; }
  .research-blocks .inner-content {
    /* width: 70%; */ }
  .research-blocks .content-info {
    font-size: 12px;
    display: block;
    width: 100%;
    margin-bottom: 5%; }
    .research-blocks .content-info a {
      color: #1ca8ff;
      text-decoration: none; }
  .research-blocks .content-bottom-block {
    display: flex;
    z-index: 99;
    position: relative;
    background-color: #f8f8f8; }
    @media screen and (max-width: 768px) {
      .research-blocks .content-bottom-block {
        flex-direction: column; } }
    .research-blocks .content-bottom-block .image {
      width: 30%;
      display: inline-block;
      position: absolute;
      bottom: 0px;
      right: 0; }
      .research-blocks .content-bottom-block .image img {
        vertical-align: sub; }
        @media screen and (max-width: 768px) {
          .research-blocks .content-bottom-block .image img {
            display: none; } }
  .research-blocks .post.content {
    color: #fff;
    z-index: 9;
    position: relative;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media screen and (max-width: 768px) {
      .research-blocks .post.content {
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 5em;
        padding-bottom: 5em;
        height: auto !important; } }
  .research-blocks .reasarch-left-block {
    position: relative;
    background: #f8f8f8; }
    .research-blocks .reasarch-left-block .inner-content {
      width: 70%;
      background-color: #f8f8f8;
      padding-top: 8%;
      padding-bottom: 8%; }
      @media screen and (max-width: 768px) {
        .research-blocks .reasarch-left-block .inner-content {
          width: 100%; } }
  .research-blocks .reasarch-right-block .content-bottom-block {
    padding-top: 0;
    padding-left: 10%;
    padding-right: 10%; }
    .research-blocks .reasarch-right-block .content-bottom-block h2 {
      margin-top: 20px;
      margin-bottom: 20px; }

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #0b3354;
  z-index: 0;
  opacity: 0.9; }

.content-back-img {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover !important; }

.become-a-click-block {
  background-color: #FFFFFF;
  text-align: center;
  padding-top: 4em;
  padding-bottom: 4em; }
  .become-a-click-block .content {
    width: 45%;
    margin-left: auto;
    margin-right: auto; }
  .become-a-click-block h2 {
    margin: 0 0 20px;
    font-size: 36px;
    font-family: freight-text-pro, serif; }
  .become-a-click-block h4 {
    font-family: canada-type-gibson, sans-serif;
    margin-bottom: 3%;
    font-size: 24px;
    font-weight: 100;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4em; }

footer {
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: #FFFFFF; }
  footer .logo-footer {
    max-width: 125px;
    display: block;
    margin-bottom: 5%; }
  footer .footer-rows .left-column span {
    width: 75%;
    display: block; }
    @media screen and (max-width: 768px) {
      footer .footer-rows .left-column span {
        width: 100%; } }
  footer .footer-rows .left-column .mobile-contact-no {
    margin: 5% auto;
    font-family: canada-type-gibson, sans-serif; }
  @media screen and (max-width: 768px) {
    footer .footer-rows .left-column {
      padding-left: 30px;
      padding-right: 30px; }
      footer .footer-rows .left-column .social-media-icons {
        display: none; } }
  footer .footer-rows .right-column > div {
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden; }
    footer .footer-rows .right-column > div h5 {
      font-weight: bold;
      font-size: 16px;
      font-family: canada-type-gibson, sans-serif; }
  footer .footer-rows .subscribe-serch {
    display: flex;
    position: relative; }
  footer p {
    font-size: 14px; }
  footer a.link {
    color: #1ca8ff;
    font-weight: 700;
    display: block; }
  footer input[type="text"] {
    border: 0;
    background-color: lightgray;
    height: 35px;
    padding: 2px 10px 0 10px;
    color: #0b3354;
    font-weight: 600;
    width: 100%; }
  footer button {
    height: 35px;
    border: none;
    background-color: #1ca8ff;
    color: #fff;
    font-weight: 800;
    position: absolute;
    font-size: 12px;
    padding: 0 10px;
    cursor: pointer;
    right: 0px; }
  footer .subscribe-links {
    position: relative; }
    footer .subscribe-links .fas {
      position: absolute;
      right: 30px;
      top: 20px; }
    @media screen and (max-width: 768px) {
      footer .subscribe-links p, footer .subscribe-links .subscribe-serch {
        display: none; }
      footer .subscribe-links h5 {
        display: block;
        margin: 5% 0;
        border-bottom: 1px solid #b5b5b5;
        padding: 5% 0; } }
  footer .location-links {
    position: relative; }
    footer .location-links .fas {
      position: absolute;
      right: 30px;
      top: 20px; }
    @media screen and (max-width: 768px) {
      footer .location-links p {
        display: none; }
      footer .location-links h5 {
        display: block;
        margin: 5% 0;
        border-bottom: 1px solid #b5b5b5;
        padding: 5% 0; } }
    footer .location-links p {
      line-height: 20px; }
  footer .contact-links {
    position: relative; }
    footer .contact-links .fas {
      position: absolute;
      right: 30px;
      top: 20px; }
    @media screen and (max-width: 768px) {
      footer .contact-links p {
        display: none; }
      footer .contact-links h5 {
        display: block;
        margin: 5% 0;
        border-bottom: 1px solid #b5b5b5;
        padding: 5% 0; } }
  @media screen and (max-width: 768px) {
    footer ul.mobile-only.social-media-icons {
      display: flex !important;
      margin: 5% auto; } }

ul.social-media-icons {
  display: flex;
  list-style: none;
  max-width: 180px;
  padding: 0;
  margin: 15% 0;
  width: 100%; }
  ul.social-media-icons li {
    flex: 1; }
    ul.social-media-icons li a {
      border: 0px solid;
      border-radius: 100%;
      width: 25px;
      height: 25px;
      padding: 2px;
      text-align: center;
      text-decoration: none;
      display: block;
      background: #0b3354;
      color: #fff; }
      ul.social-media-icons li a i {
        flex: 1;
        font-size: 14px; }

.segment-dropdown {
  position: relative;
  display: flex; }
  .segment-dropdown .selectbox {
    border: 1px solid #fff;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 14px;
    margin: 5% 0 0;
    position: relative;
    width: auto;
    min-width: 360px; }
    @media screen and (max-width: 768px) {
      .segment-dropdown .selectbox {
        width: 100%;
        min-width: auto; } }
    .segment-dropdown .selectbox i.fa {
      position: absolute;
      right: 10px;
      top: 15px;
      color: #1CA8FF; }
    .segment-dropdown .selectbox span {
      display: inline-flex; }
      .segment-dropdown .selectbox span h5 {
        overflow: hidden;
        /* Ensures the content is not revealed until the animation */
        border-right: 0.15em solid #FFFFFF;
        /* The typwriter cursor */
        white-space: nowrap;
        /* Keeps the content on a single line */
        margin: 0 auto;
        /* Gives that scrolling effect as the typing happens */
        animation: typing 1.5s steps(40, end), blink-caret 0.75s step-end infinite; }
  .segment-dropdown .dropdown-menu {
    display: none; }
    .segment-dropdown .dropdown-menu:before {
      content: "";
      display: block;
      width: 0px;
      height: 0px;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid #ffffff;
      position: absolute;
      top: -15px;
      left: 50px;
      right: 0;
      text-align: center;
      margin: auto; }
    .segment-dropdown .dropdown-menu ul {
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center; }
      .segment-dropdown .dropdown-menu ul li {
        display: inline-block;
        width: 45%;
        padding: 5px;
        border-bottom: 1px solid #d8d8d8;
        margin: 5px 2%;
        white-space: normal; }
        @media screen and (max-width: 768px) {
          .segment-dropdown .dropdown-menu ul li {
            width: 100%;
            padding: 15px;
            margin: 5px 0%; } }
        .segment-dropdown .dropdown-menu ul li img {
          width: 50px; }
        .segment-dropdown .dropdown-menu ul li a {
          color: #000000;
          text-decoration: none;
          display: flex;
          font-family: canada-type-gibson, sans-serif;
          justify-content: space-between; }
          .segment-dropdown .dropdown-menu ul li a p {
            font-size: 16px; }
  .segment-dropdown.active .dropdown-menu {
    display: block; }
  .segment-dropdown .contentwrapper {
    position: absolute;
    top: 140px;
    width: 50%;
    background-color: #FFFFFF;
    left: -35px; }
    @media screen and (max-width: 768px) {
      .segment-dropdown .contentwrapper {
        width: 100%;
        left: 0;
        top: 80px; } }

.copyrights {
  width: 100%;
  background-color: #000000;
  display: block;
  color: #FFFFFF;
  padding: 15px;
  font-size: 12px;
  font-family: canada-type-gibson, sans-serif; }
  .copyrights .sublinks {
    display: inline-block; }
    @media screen and (max-width: 768px) {
      .copyrights .sublinks {
        text-align: center;
        line-height: 20px;
        margin-bottom: 5%; } }
    .copyrights .sublinks a {
      font-size: 12px;
      margin-right: 5px;
      margin-left: 5px; }
      .copyrights .sublinks a:first-child {
        margin-left: 0px; }
  .copyrights span {
    font-size: 12px;
    float: right;
    line-height: 1; }
    @media screen and (max-width: 768px) {
      .copyrights span {
        float: none;
        display: block;
        margin: 5px auto;
        text-align: center; } }

.featured-image2 {
  position: absolute;
  bottom: 5%;
  width: 35%;
  right: 12%;
  z-index: 1;
  margin: 0;
  height: auto;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .featured-image2 {
      display: none; } }

@media screen and (max-width: 768px) {
  .fp-slides {
    overflow: initial !important; } }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: #FFFFFF; } }

html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-x: hidden !important;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box; }

.fp-slide {
  float: left; }

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block; }

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%; }

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.fp-slidesContainer {
  float: left;
  position: relative; }

.fp-controlArrow {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
  margin-top: -38px; }
  .fp-controlArrow.fp-prev {
    left: 15px; }
    .fp-controlArrow.fp-prev .fa {
      pointer-events: none;
      color: #FFFFFF;
      font-size: 30px; }
  .fp-controlArrow.fp-next {
    right: 15px; }
    .fp-controlArrow.fp-next .fa {
      pointer-events: none;
      color: #FFFFFF;
      font-size: 30px; }

.fp-scrollable {
  overflow: hidden;
  position: relative; }

.fp-scroller {
  overflow: hidden; }

.iScrollIndicator {
  border: 0 !important; }

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important; }

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0); }

#fp-nav.fp-right {
  right: 17px; }

#fp-nav.fp-left {
  left: 17px; }

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  opacity: 1;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: 0 !important;
  right: 0;
  margin: 0 auto !important; }

.fp-slidesNav.fp-bottom {
  bottom: 17px; }

.fp-slidesNav.fp-top {
  top: 17px; }

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0; }

#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative; }

.fp-slidesNav ul li {
  display: inline-block; }

#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none; }

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%; }

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #fff;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px; }

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer; }

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1; }

#fp-nav ul li .fp-tooltip.fp-right {
  right: 20px; }

#fp-nav ul li .fp-tooltip.fp-left {
  left: 20px; }

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  height: auto !important; }

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
  height: auto !important; }

/*Only display content to screen readers*/
.fp-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; }
