// Main Navbar Styling 
.logo{
    margin-top: 25px;
    display: inline-block;
    flex: 8 !important;

    a {
        color: #fff;
        font-size: 30px;
        text-decoration: none;
        font-family: Gibson;
        text-shadow: 5px 1px 11px rgba(0, 0, 0, 0.22);
    }
}

.main-navbar {
    position: fixed;
    z-index: 1005;
    width: 100%;

    .nav-container{
        max-width: 100%;
        margin-left: 5%;
        margin-right: 90px;
        display: flex;

        > div{
            flex: 1;
        }
    }
}

.search-area{
    display: flex;
    justify-content: flex-end;
}

.search-button{
    position: fixed;
    top: 31px;

    i{
        font-size: 32px;
        color: #fff;
    }
}

/* Style the collapsible content. Note: hidden by default */
.search-input {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: white;
    top: 85px;
}